.nav-link{
    color: black;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--first-color);
    font-weight: 500;
}
.navbar-nav{
    gap: 2rem;
}
.navbar{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #ffffff;
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--first-color);
    font-size: x-large;
}
.btn-outline-success{
    background-color: var(--first-color);
    color: #ffffff;
    width: 7rem;
    border-radius: 50px;
    font-weight: 600;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}