

<div class="title">
    <h1>Détail offre de stage</h1>
    <p>Découvrez en détail l'offre de stage - AI - Chat bot</p>
</div>
<div class="body">
    <div class="stage"> 
      
            <div class="img"></div>
            <div class="detail">
                <h5 class="card-title">Découvrez les 5 excellentes raisons de choisir La Poste groupe pour votre alternance</h5>
                <hr>
                <ol >
                    <li class="titreli"> Une formation de qualité</li>

                    <p class="card-text">La Poste accompagne les alternants tout au long de leur parcours de formation, favorisant ainsi leur intégration professionnelle. Les formations proposées sont adaptables et en phase avec les besoins du marché.</p>
                    
                    <li class="titreli">Une rémunération avantageuse </li>
                    
                    <p class="card-text">Profitez d'une rémunération plus avantageuse que le dispositif légal en vigueur.</p>
                    
                    <li class="titreli">Des avantages sociaux attrayants </li>
                    
                    <p class="card-text">Les alternants bénéficient d'avantages pour leurs vacances et leurs loisirs, améliorant ainsi leur qualité de vie.</p>
                    
                    <li class="titreli">Un label d'excellence</li>
                    
                    <p class="card-text">L'entreprise détient le prestigieux label Top Employeur, témoignant de ses pratiques RH remarquables. Ces dernières incluent la promotion de la qualité de vie au travail, la diversité et l'inclusion, l'employabilité des clilaborateurs, l'égalité des chances ainsi que la lutte contre toutes formes de discrimination.</p>
                    
                    <li class="titreli">Un engagement en faveur de la RSE </li>
                    
                    <p class="card-text">En tant que pionnière de la transition écologique, La Poste a pris des mesures concrètes depuis plus de 15 ans pour réduire son empreinte carbone.</p>     
            
                </ol>    </div>
      
 
    </div>

</div>
