
    <div class="title">
        <h1>Détail offre de stage</h1>
        <p>Découvrez en détail l'offre de stage - AI - Chat bot</p>
    </div>
    <div class="body">
        <div class="stage"> 
            <div class="col1">
                <div class="img"></div>
                <div class="detail">
                    <h5 class="card-title">AI - Chat bot</h5>
                    <hr>
                    <p class="card-text">Join Inova IT as a Data Scientist specializing in the automotive domain and play a pivotal role in leveraging data for insights and innovations. In this position, you'll apply advanced data analysis techniques to address industry-specific challenges and drive data-informed decisions. If you have a passion for data, analytics, and a deep interest in the automotive sector, this is an exciting opportunity to make a significant impact. Join us in revolutionizing the automotive industry through data-driven insights and solutions.</p>     
                </div>
            </div>
            <div class="col2">
                <div class="cara">
                       <p class="titre">Stage</p>
                       <p class="reponse">Stage PFE</p>
                </div>
                <div class="cara">
                       <p class="titre">Catégorie</p>
                       <p class="reponse">AI</p>
                </div>
                <div class="cara">
                       <p class="titre">Societe</p>
                       <p class="reponse">Proxime</p>
                </div>
                <div class="cara">
                       <p class="titre">Lieu</p>
                       <p class="reponse">Sousse</p>
                </div>
                <div class="cara">
                       <p class="titre">Durée</p>
                       <p class="reponse">4 mois</p>
                </div>
                <div class="cara">
                       <p class="titre">Nombre des Places</p>
                       <p class="reponse">2</p>
                </div>
                <div class="cara">
                       <p class="titre">Technologies</p>
                       <ul class="list">
                        <li>MEAN STACK</li>
                        <li>OPEN AI API</li>
                       </ul>
                </div>
                <div class="cara">
                       <p class="titre">Target</p>
                       <ul class="list">
                        <li>Licence</li>
                        <li>Master</li>
                       </ul>
                </div>
                <button type="button" class="btn btn-success">Postuler</button>

            </div>    
        </div>
        <div class="postuler">
            <form>

            </form>
        </div>
    </div>
