<div>
    <div class="title">
        <h1>Blog</h1>
        <!-- <p>Nous mettrons à disposition les challenges, une plateforme d'apprentissage, des experts ainsi que des conseils essentiels tout au long de votre parcours, afin de catalyser votre plein potentiel et votre créativité.</p> -->
    </div>
        <div class="body">
        <div class="cards">
            <div class="card" style="width: 20rem;">
              <a routerLinkActive="List-item-active" routerLink="/Bdetaille"  >
                <div  class="card-img-top" ></div>
                  <div class="card-body">
                    <h5 class="card-title"> Découvrez les 5 excellentes raisons de choisir La Poste groupe pour votre alternance</h5>
                    <p class="date">12/02/2024</p>
                    <p class="card-text">La Poste accompagne les alternants tout au long de leur parcours de formation, favorisant ainsi leur intégration professionnelle. Les formations proposées sont adaptables et en phase avec les besoins du marché.</p>
                  </div>
              </a>
              </div>
        </div>
    </div>
</div>
