.title{
    padding:2rem ;
    background-color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1,p{
       
        color: white;
        text-align: center;
    }
}
.body{
    display: grid;
}
.search{
    border-bottom: solid 1px var(--first-color);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.form-select{
    width: fit-content;
}
@media screen and (max-width:993px){  
    .search{
        flex-wrap: wrap;
    }

}