<mat-vertical-stepper class="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Etape 1</ng-template>
        <div class="body" >
          <h3 class="titre">Formation, expérience professionnelle et vie associative</h3>
          <div class="frame">
            <div class="cards">
              <div class="headC">
                <h5>Formation<span style="color: red;">*</span></h5>
                <a class="button"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></a>
              </div>
              <div class="card">

              </div>
            </div>
            <div class="cards">
              <div class="headC">
                <h5>Expérience (Stage/Travail)</h5>
                <a class="button"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></a>
              </div>
              <div class="card">

              </div>
            </div>
            <div class="cards">
              <div class="headC">
                <h5>Club et association</h5>
                <a class="button"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                </svg></a>
              </div>
              <div class="card">

              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Etape 2</ng-template>
        <div class="body" >
          <h2 class="titre">Formation, expérience professionnelle et vie associative</h2>
          <div class="frame">
            <div class="cards">
              <div class="card">

              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Etape 3</ng-template>
        <div class="body" >
          <h2 class="titre">Formation, expérience professionnelle et vie associative</h2>
          <div class="frame">
            <div class="cards">
              <div class="card">

              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Terminé</ng-template>
      <p>Vous avez terminé toutes les étapes!</p>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  
<div class="dialog " id="numt" >
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title " >Modifier </h1>
      <button type="button" class="btn-close" (click)="closeModel('numt')" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><form (ngSubmit)="closeModel('numt')" class="row g-3">
    <div class="modal-body">
      <div>
          <label for="validationServer01" class="form-label">Numero de téléphone</label>
          <div style="display: flex;">
              <span class="input-group-text" id="basic-addon1">+216</span>
              <input type="number" class="form-control" required aria-describedby="basic-addon1">
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModel('numt')" data-bs-dismiss="modal">Annuler</button>
      <button class="btn btn-primary"  type="submit">Mettre à jour</button>
    </div></form>
  </div>

